/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0 !important;
  background: #060d19;
  overflow: hidden;
}

#star-background {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -5;
}

.text-white {
  color: whitesmoke;
}

.text-green {
  color: #00bd9d;
}

.text-yello {
  color: #f2e63c;
}

@keyframes blink-effect {

  40%,
  60% {
    opacity: 0.9;
    text-shadow: 0 0 8px rgba(242, 230, 60, 0.7);
  }

  50% {
    opacity: 0.85;
    text-shadow: 0 0 5px rgba(242, 230, 60, 0.3);
  }

  10%,
  90% {
    opacity: 1.0;
    text-shadow: 0 0 12px rgba(242, 230, 60, 0.9);
  }
}

@keyframes logo-blink-effect {

  0%,
  100% {
    filter: drop-shadow(0 0 7px #7608d3);
  }

  25% {
    filter: drop-shadow(0 0 10px #7608d3);
  }

  50% {
    filter: drop-shadow(0 0 5px #7608d3);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
    scale: 0.95;
  }

  40% {
    scale: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes size-effect {
  0% {
    opacity: 0;
    transform: scale(0.0) rotate(-0.01turn);
  }

  85% {
    opacity: 1;
  }

  50% {
    transform: scale(1.3) rotate(0.001turn);
  }

  100% {
    transform: scale(1);
  }
}